@inherits LayoutComponentBase

<header>
  <NavMenu />
</header>

<div class="container" style="margin-top: 5rem;">
    <main role="main" class="pb-3">
      <div class="container   mt-2">
        @Body
      </div>
    </main>
</div>